/* Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
html {
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	padding: 30px;
	color:  #fff;
  background-image: url(/img/background_desktop_larissa.jpeg);
  

  background-repeat: no-repeat;
  background-size: 200%;
  background-position: top;
  background-color: #f11fb2;
}

/* header */

header {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 110px;
}

header img {
  height: 135px;
  width: 135px;
  border-radius: 50%;
  margin-bottom: 30px;    
}

header h1 {
  font-size: 55px;
	color: rgb(255, 0, 179);
  text-shadow: rgba(255, 255, 255, 0.171) 0.1em 0.1em 0.2em;
}

/* efects */

header p.line {
  border-right: 2px solid rgba(255, 255, 255, .75);
  font-size: 22px;
	color: rgb(219, 84, 179);
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: rgba(255, 255, 255, 0.171) 0.1em 0.1em 0.2em;
}


/* animation */

.typing-animation {
  animation: blinkCursor 1s steps(10) infinite normal, typing 1.7s steps(20) 1s normal both;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 13em;
  }
}

@keyframes blinkCursor{
  from {
    border-right-color: rgb(255, 255, 255);
  }
  to {
    border-right-color: transparent;
    
  }
}


/* section */

section{
	display: flex;
	justify-items: center;
	flex-wrap: wrap;
	flex-grow: 1;
	margin: 20px;
  padding-bottom: 20px;
}

section a{
  text-decoration: none;
  flex-basis: 200px;
  justify-content: space-between;
  flex-grow: 1;
  margin: 20px;
}

section div{
  min-height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 3px solid #f11fb2;
}

section div:hover{
  border: 3px solid rgb(241, 122, 216);
}

section div .iconify{
  font-size: 26px;
  margin-bottom: 10px;
  color: #fff;
}

section div h3{
  text-align: center;
  line-height: 23px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}


/* Footer */

footer {
  text-align: center;
	color: rgb(238, 127, 205);
}

footer a#vini{
  text-decoration: none;
  color: #f11fb2;
  font-weight: bold;
  font-size: 110%;
}


/* Responsive */

@media (max-width: 768px) {
  body {
    background-image: url(/img/background_mobile_larissa.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  header {
    margin-bottom: 30px;
  }

  header h1 {
    font-size: 32px;
  }

  header p.line {
    font-size: 18px;
  }

  @media (max-width: 375px) {
    body {
      background-color: #f11fb2;
      background-image: url(/img/background_mobile_larissa.jpeg);
      background-repeat: no-repeat;
      background-size: 210%;
      background-position: top;
    }

    section div{
      min-height: 80px;
      /* width: 300px; */
      flex-direction: row;
      border: 2px solid #f11fb2;
    }
  }

@media (max-width: 320px) {
  body {
    background-image: url(/img/background_mobile_larissa.jpeg);
    background-repeat: no-repeat;
    background-size: 250%;
    background-position: top;
  }

  header {
    margin-bottom: 30px;
  }

  header h1 {
    font-size: 26px;
  }
  
  header p.line {
    font-size: 16px;
  }

  section{
    margin: 0;
  }

  section div{
    min-height: 65px;
    width: 230px;
    flex-direction: row;
    border: 2px solid #f11fb2;
  }

  section div .iconify{
    font-size: 30px;
    margin-right: 10px;
  }
}

}
